<!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
                  <div class="col-lg-12">
                      <span id="myfooter">
                        <h5>Born in Vietnam</h5>
                        <br> </br>
                        <h4>Being Developed in USA</h4>
                      </span>
                  </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; Dat Nguyen 2016
                  </div>
              </div>
          </div>
      </div>
  </footer>
