<!-- Header MAIN INFORMATION HERE (NAME, BLA BLA)-->
<header>
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
              <!-- Profile picture -->
              <br></br>
              <br></br>

                <img class="img-responsive" src="img/datprofile.png" alt="">
                <div class="intro-text">
                    <span class="name">Dat Nguyen</span>
                    <div class="deco-line"><b>_____________</b></div>
                    <span class="skills">Computer Engineering Student</span>
                    <br></br>


                    <ul class="list-inline">
                        <li><a href="https://www.linkedin.com/in/tdatnguyen" class="btn-info" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i> </a></li>
                        <li><a href="https://github.com/datthnguyen" class="btn-info" target="_blank"><i class="fa fa-4x fa-github-square"></i></a></li>
                        <li><a href="assets/datresume_sept2016.pdf" class="btn-resume btn" target="_blank">Résumé/CV</a></li>
                    </ul>
                    <br></br>
                    <br></br>
                    <span><i>Building my dream Autonomous Car. I want big cities would be traffic-free in the next 20 years.</i></span>
                    <br></br>
                    <span><i>"Getting in a car will be just like getting in an elevator," - Elon Musk </i></span>

                </div>
            </div>
          </div>
    </div>
</header>
